In [22]:
from DataImporter import *

# `Pandas` 数据处理

## 缺失值处理

> 删除含有缺失值的样本

> 替换 / 插补

1. 判断数据中是否存在 `NaN`: `pd.isnull(df)`, `pd.notnull(df)`

2. 删除含缺失值的样本: `df.dropna(axis='rows', inplace=False)`

3. 替换: `df.fillna(value, inplace=False)`

In [23]:
movie = pd.read_csv('src/IMDB-Movie-Data.csv')

# 判断有无缺失值
np.any(pd.isnull(movie))  # True. 即数据集中存在 `NaN`.

True

In [24]:
pd.isnull(movie).any()

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [25]:
# 缺失值处理

# 方法1: 删除含有缺失值的样本
data1 = movie.dropna()
# pd.notnull(data1).all()

# 方法2: 替换
movie['Revenue (Millions)'].fillna(movie['Revenue (Millions)'].mean(), inplace=True)
movie['Metascore'].fillna(movie['Metascore'].mean(), inplace=True)

# pd.notnull(movie).all()

### 含有标记的缺失值

`df.replace(to_replace=, value=)` 替换

In [26]:
path = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
name = ["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses", "Class"]

data = pd.read_csv(path, names=name)

In [27]:
# 将 '?' 替换成 NaN
data.replace(to_replace='?', value=np.nan)

# 删除缺失值
data.dropna(inplace=True)
data.isnull().any()

Sample code number             False
Clump Thickness                False
Uniformity of Cell Size        False
Uniformity of Cell Shape       False
Marginal Adhesion              False
Single Epithelial Cell Size    False
Bare Nuclei                    False
Bland Chromatin                False
Normal Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

## 数据离散化

在连续属性的值域上, 将值域划分为若干个离散的区间, 最后用不同的符号或整数值代表落在每个子区间的属性值.

为了简化数据结构, 减少连续属性值的个数.

1. 分组

自动分组 `sr = pd.qcut(data, bins)`

自定义分组 `sr = pd.cut(data, [])`

2. 将分组好的结果转换成 one-hot 编码(哑变量) `pd.get_dummies(sr, prefix=)`

In [28]:
# 准备数据
data = pd.Series([165,174,160,180,159,163,192,184], index=['No1:165', 'No2:174','No3:160', 'No4:180', 'No5:159', 'No6:163', 'No7:192', 'No8:184'])

# 分组
# 自动分组
sr = pd.qcut(data, 3)
sr.value_counts()  # 看每一组有几个数据

# 转换成one-hot编码
pd.get_dummies(sr, prefix="height")

# 自定义分组
bins = [150, 165, 180, 195]
sr = pd.cut(data, bins)
# get_dummies
pd.get_dummies(sr, prefix="身高")

         身高_(150, 165]  身高_(165, 180]  身高_(180, 195]
No1:165              1              0              0
No2:174              0              1              0
No3:160              1              0              0
No4:180              0              1              0
No5:159              1              0              0
No6:163              1              0              0
No7:192              0              0              1
No8:184              0              0              1

## 合并

按方向拼接: `pd.concat([data1, data2], axis=0)` 默认竖直拼接

按索引拼接: `pd.merge(left=, right=, how='inner', on=)`

## 分组与聚合

`DataFrame.groupby(key, as_index=False)`

In [29]:
col = DataFrame({'color': ['white','red','green','red','green'], 'object': ['pen','pencil','pencil','ashtray','pen'],'price1':[5.56,4.20,1.30,0.56,2.75],'price2':[4.75,4.12,1.60,0.75,3.15]})

col.groupby(by='color')['price1'].max()

color
green    2.75
red      4.20
white    5.56
Name: price1, dtype: float64